
/*body{
	background-color: red;
}*/



/* --- Ici c'est le Parallax ↓ -------------------------------------------------- */
.parallax-window {
    min-height: 400px;
    background: transparent;
}
/* ↑ --- Parallax ↑ --------------------------------------------------------------- */


header {
    background-image: none;
	background: none;
}

header .intro-text .intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 50px;
}

/*↓ ↓↓ La NAV navigation (Modification de la NAV) ↓↓ ↓*/

.navbar-custom .navbar-brand {/* ← ←← Le titre en haut à gauche de la nav: "Jean-Yves Ndjoli" */
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

toggle:hover {/*← ←←↓←↓ Les <li>/Burger MENU*/
    background-color: #fed136;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-size: 12px;
}

a:hover { /*← ←← Le hover est sur Les <a> venant du <li> */
    color: #fed136;
    outline: 0;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    /*color: #333;*/
    background-color: transparent;
}

/*↑ ↑↑ La NAV navigation (Modification de la NAV) ↑↑ ↑*/



/* ↓ ---  ↓Le Bouton(BTN) +(à props)↓ --------------↓↓ */
.btn-xl:hover, .open .dropdown-toggle.btn-xl {
    color: #fff; /*←Quand il est "activé"(pas en coomentaire) le color: de .btn xl hover se "désactive".*/
    background-color: #fec503;
    border-color: #f6bf01;
}
.btn.focus, .btn:focus, .btn:hover {
    /*color: #CC0E0E;*/ /*←Quand il est "activé"(pas en coomentaire) le color: de .btn focus "s'active".
    text-decoration: none;
}
a:hover {
    /*color: #fed136*/;
    outline: 0;
}

/*↑ --- ↑ ↑↑Le Bouton(BTN) +(à propos) ↑↑ -------------- ↑ */




/*La partie (où il y a le formulaire) pour me contacter ↓ */
section#contact {
	background-color: #222;
	/*background-image: url('../img/kuroro.jpg');*/
	background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ↑ La partie pour me contacter ↑ */


/* --- ↓ Le formulaire de contact  ME CONTACTER ↓ ------------------------- */
/* ↓ Les ID simples ↓ */
#contactForm{
    background-color: red;
}
#name{
    background-color: yellow;
}

#email{
    background-color: yellow;
}

#phone{
    background-color: yellow;
}

#message{
    background-color: yellow;


}
/* ↑ Les ID simples ↑ */


/* ↓ Les (FOCUS) ID avec Focus ↓ */
#name:focus{
    background-color: blue;
}

#email:focus{
    background-color: blue;
}

#phone:focus{
    background-color: blue;
}

#message:focus{
    background-color: blue;
}

/* ↑ Les (FOCUS) ID avec Focus ↑ */


/*input[type=text]:focus{
    background-color: red;
}*/


/*--- ↑ Le formulaire de contact  ME CONTACTER ↑ ------------------------ */


/* ↓ Image L2 GéoA Université Le Havre ↓ */
.portfolio-hover img{
    width: 359.333px;
    height: 190px;}
/* ↑ Image L2 GéoA Université Le Havre↑ */

/* 
.portfolio-hover img{
    width: 359.333px;
    height: 190px;}
*/



